<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <define name="positive"/>
        <define name="negative"/>
    </groups>
    <test name="Run All Tests">
        <classes>
            <class name="tests.GetListUsers"/>
            <class name="tests.GetSingleUser"/>
            <class name="tests.GetListResource"/>
            <class name="tests.GetSingleResource"/>
            <class name="tests.GetSingleResource"/>
            <class name="tests.PostCreateUser"/>
            <class name="tests.PutUpdateUser"/>
            <class name="tests.PatchUpdateUser"/>
            <class name="tests.DeleteUser"/>
        </classes>
    </test>
</suite>